/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import '../projects/kui-components/src/lib/theme/kui-theme.css';
@import '../projects/kui-components/src/lib/button/kui-button.css';
@import '../projects/kui-components/src/lib/input/kui-input.css';
@import '../projects/kui-components/src/lib/form-field/kui-form-field.css';

body {
    margin: 0;
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    background-color: var(--kui-background);
    color: var(--kui-foreground);
}
